[2015-01-27 19:55] wldcordeiro opened #1 "Python 3 Support?"
According to Django Packages this doesn't support Python 3. Is this true or not? If it is, I'm willing to make a PR updating it to support Python 3.

[2015-01-27 21:21] bee-keeper commented on #1
@wldcordeiro - I think it may well be python 3 compatible but can't be sure as I have not tested it.  Would really appreciate a pull request or even just let me know how you get on.

[2015-01-27 22:12] wldcordeiro commented on #1
@bee-keeper I'm going to try it and see. It looks like it supports Python 3 from looking at the code base and just setting up the basic config.

[2015-05-27 20:39] bee-keeper commented on #1
Hi there,

Am closing this as I have set up a testing suite with travisCI in the devel branch.  I'm aiming for complete compatibility with Django 1.5-1.8 and Python 2.6, 2.7, 3.2, 3.3 and 3.4.  I'll then merge this into master and release a new package.

[2015-05-27 20:39] #1 closed

[2015-06-10 16:07] simonv3 opened #3 "Posting via a URL"
Instead of just having a form submission, is it possible to also post a URL? (enabling an ajax API).

[2015-06-10 16:36] bee-keeper commented on #3
Hi there,

No this isn't built in right now but I agree it would be very useful.

I'm currently working on a test suite and some bug fixes (see the devel branch) so that's my priority for now.  I anticipate I'll have this done quite soon and would definitely be interested in adding this functionality when time permits.

Otherwise, please feel free to pull request - I would suggest implementing thi

[2015-06-10 16:44] simonv3 commented on #3
I'll have a look at how all-auth handles similar things, and if I can find some time this week I'll try to do a PR.

Thanks very much for this by the way, you've already saved me tons of time :)

[2015-06-22 19:25] simonv3 opened #4 "Keeping track of who sent the invite"
Is this possible at the moment? It doesn't look like it's stored, and it doesn't get sent in the signals.

This is what passing it in the signal would look like (useful I think even if further down the line you decide to store it in the model:

models.py
[code]

signals.py
[code]

implementation:
[code]

If that looks right to you, I can do a PR with those changes.

[2015-06-28 18:48] #4 closed

[2015-06-29 13:33] nordbit opened #7 "No module named 'app_settings'"
[code]
django=1.8.2 python==3.4.2

[2015-06-29 14:28] bee-keeper commented on #7
Yep, thanks for pointing that out, I've just committed a fix.

[2015-06-29 14:28] #7 closed

[2015-06-29 15:01] nordbit opened #8 "feature request - add error message"
And it will be nice add error message to display, if email address is in invitation table allready.

[2015-07-03 12:48] bee-keeper commented on #8
There already is a message if the invitee has not accepted their invite.  However, I am working on adding more error messages.

[2015-07-14 17:23] tbarbugli opened #9 "use post save handler for invites instead of override create"
I was reading the code and I was wondering why you implemented a create method for the invite class and not a post save callback. In my opinion save signals are the way to go (afaik create is not called when saving an instance with pk=None).

p.s. I can contribute a PR with this if you are willing to merge it ;)

[2015-07-14 17:23] tbarbugli commented on #9
link to the relevant code: https://github.com/bee-keeper/django-invitations/blob/master/invitations/models.py#L32

[2015-07-14 17:39] tbarbugli opened #10 "INVITATIONS_ALLOWED_GROUPS is not optional"
Hi,
It seems like running with INVITATIONS_ALLOWED_GROUPS=None (the default value) is not supported. the view at /invitations/send-invite/ raises the following exception:

[code]

[2015-07-14 18:51] tbarbugli opened #11 "invite form is broken"
it's subclassing allauth's AddEmailForm, it does not make any sense to me and it's also broken (the user parameter is not send at init time).

[2015-07-15 08:00] #11 closed

[2015-07-25 20:27] seanmavley commented on #10
Yeah, I get same error

[2015-07-26 09:51] bee-keeper commented on #10
Thanks for raising this, I hadn't realised that 'group_required' was mandatory.  For now I have removed this from the package as it's simple enough to subclass the view if this functionality is needed.

Since this is quite an annoying bug and I have 2 pull requests not yet in the package, I've just created a new release.

[2015-07-26 09:51] #10 closed

[2015-07-26 10:09] bee-keeper commented on #9
I'm not sure the advantage of changing this to signal and, in as much as possible, I'm trying to keep to the approach used by allauth [allauth](https://github.com/pennersr/django-allauth/blob/master/allauth/account/models.py) since this makes working with both packages a lot easier.

Having said that, I'm not opposed to this approach but I'd also rather not make structural ie not bug fix changes u

[2015-07-26 10:09] #9 closed

[2015-07-26 17:39] seanmavley commented on #8
For some reasons, mine doesn't show, I mean the error message. I understand there's a success_message sent to template, but for some reason I don't understand, it doesn't show. Perhaps, instead of re-rendering the template to the same page, rather there's a redirect when the form is successfully submitted.

[2015-07-31 22:12] nwaxiomatic opened #13 "Group invitations"
I had to recreate your app to handle invitations that auto-added the invited users to a set of groups.

Would this be an addition to the app of interest?

I basically just added a ManyToMany field called groups to the model and adjusted all templates/views/forms/admin to reflect the change.

[2015-08-01 10:05] bee-keeper commented on #13
Hi,

Thanks for your offer to contribute but i think your use case here is too specific for a generic invitations app.  I am trying to keep the basic app as simple as possible so that it is easy to work with and adapt.

If you're looking to contribute in other ways may i suggest test coverage is pretty poor so I am definitely accepting pull requests in this area.

[2015-08-01 10:05] #13 closed

[2015-08-01 23:32] nwaxiomatic opened #14 "Admin invitations"
I modified the admin for the invitations to be able to send the email invitations directly from the admin, would this be an addition of interest?

[2015-08-02 21:03] bee-keeper commented on #14
Hi there, yes potentially but it depends on how it is done.  Essentially, to invite someone you would just need to add an invitation in admin by filling in their email and then kicking off the invite process on the form save.  It should be possible to do this without custom admin hacks and I think it would be very useful indeed.

Please feel free to PR request an implementation.

[2015-08-20 13:33] bee-keeper commented on #14
Closed as now [implemented](https://github.com/bee-keeper/django-invitations/commit/3fd22ed2f320e461aec6e19e4bc3cfe35818dd3b)

[2015-08-20 13:33] #14 closed

[2015-08-21 07:08] bee-keeper commented on #8
There's a test case now for this scenario and you can also use the admin form to send invitations.  In both cases the error messages are displayed.  @seanmavley I suspect the issue may be with your implementation, but in any case it's easy enough to swap out the form.  I'm going to close this for now, please feel free to open if you have further information relating to this issue.

[2015-08-21 07:08] #8 closed

[2015-10-10 21:54] bee-keeper opened #16 "Refactor into generic invite app"
There's no reason for a dependency on all-auth and it's pretty trivial to refactor so this can be a generic invite app with pluggable backends.

[2015-11-09 14:14] sitrucp opened #17 "inviter id included in invitations table"
What would it take to save the inviter id in invitations_invitation table? I want to associate them together as a team. Thx!

[2015-11-09 14:31] bee-keeper commented on #17
There's currently a signal which returns you the inviter.

You could use that and then create your own table which maps the invite and the inviting user.

That said, it seems this is a common request though so I would accept a PR which adds the inviter on the invitation model.

[2015-11-10 04:59] sitrucp commented on #17
I added inviter to Invitation model and then update it with request.user.id when invite is sent.  For now it is just integer not foreign key.

After the accepted invitation is sent to allauth signup form, I can get inviter user id and update my user record with that user's team id.

[2015-11-10 08:51] bee-keeper commented on #17
ok cool.

[2015-11-10 08:51] #17 closed

[2015-11-16 06:55] sitrucp opened #18 "Invite link url trailing slash not included in link - Android email"
While the invite email link url's trailing slash is in the invite email, it is not included in the active link in my Android's email message so it gives 404 not found. This is a rare case but if trailing slash was not present then it wouldn't ever be an issue.

The url is built in model.py:
invite_url = request.build_absolute_uri(invite_url)

Not sure where trailing slash is being added. Does buil

[2015-11-16 08:54] bee-keeper commented on #18
A temporary solution might be removing the trialing slash in the urls [conf](https://github.com/bee-keeper/django-invitations/blob/master/invitations/urls.py).

[2015-11-19 18:05] bee-keeper commented on #18
Hi, I'm closing this issue, this [merge](https://github.com/bee-keeper/django-invitations/pull/19) makes the slash optional.

Thanks for reporting,

[2015-11-19 18:05] #18 closed

[2015-11-20 17:34] bee-keeper commented on #3
Merged - [#20](https://github.com/bee-keeper/django-invitations/pull/20)

[2015-11-20 17:34] #3 closed

[2015-12-07 12:19] bee-keeper commented on #16
Merged - https://github.com/bee-keeper/django-invitations/pull/24

[2015-12-07 12:19] #16 closed

[2015-12-08 15:17] tanzaho opened #25 "Once the invitation link is clicked, even if the form is not submitted, a new click leads to a 404"
Hi,
I am using allauth. The integration with django-invitations works perfectly.

However, I encounter a behaviour that seems strange to me. Once an invitation link is clicked, the invitation is 'accepted', even if the user doesn't submit a sign up form. So, if a user inadvertently closes the page and wants to reload it, it will find a 404 error.

Another related behaviour that I find strange, is

[2015-12-08 19:08] bee-keeper commented on #25
Hi there,

Thanks for raising these points.

I suppose in the first case, it would make more sense to keep the invite as unaccepted until either the user signs up or the invite expires.  This would have to be specific to the allauth backend though.

Re your second point you're right, a straight 404 is not the way to go.  One idea I came up with was to redirect to a configured url and use the messa

[2015-12-09 17:52] tanzaho commented on #25
I'll be working on it. I'll let you know.

[2015-12-09 18:27] tanzaho commented on #25
About the first point, why is it only related to allauth ? I haven't tried to use invitations without it, but I understand from the code that the behaviour would be similar : one click on the link leads to a given url -> invitations is accepted -> further clicks would lead to a 404 or any other error message).

However, by thinking like this, it means that one would need a signal coming from the t

[2015-12-09 18:55] bee-keeper commented on #25
So firstly, I've just cut and pushed a new devel branch for these changes.

It's only related to allauth in that the default without using allauth is simply the user clicks a link and is redirected to a preconfigured url which might not necessarily be a signup form.  I think your use case is common enough to be handled but I think it's important to remember redirecting to a signup form is only 1 p

[2015-12-09 19:07] tanzaho commented on #25
I completely understand. I'll probably have something by tomorrow for that.

[2015-12-11 09:42] bee-keeper opened #27 "Translations"
All strings for endusers need to be translatable.

[2016-01-06 15:27] clokep opened #28 "Unable to use different adapter when using allauth"
It seems that the code around `get_invitations_adapter` breaks if `ACCOUNT_ADAPTER` is set, but is *NOT* equivalent to `'invitations.models.InvitationsAdapter'`. In this case `get_invitations_adapter` returns `None`.

My use case is that I'm using allauth with [allauth_2fa](https://github.com/percipient/django-allauth-2fa/), which overrides the `ACCOUNT_ADAPTER`.

~~(Also, as an aside, I think the

[2016-01-06 15:28] clokep commented on #28
What I had tried was:

[code]

The workaround I have is:
[code]

[2016-01-06 16:20] clokep opened #29 "inviter not set when using SendInvite view"
I would expected the `inviter` field of an `Invitation` to be set when using the `SendInvite` view since it requires a logged in user.

I think this just needs an extra line before [sending the invite](https://github.com/bee-keeper/django-invitations/blob/ef87e69c96d800c9c68d739db6de8f8316e4e929/invitations/views.py#L30) that sets:
[code]

I'm willing to make a PR for this, if you can confirm this

[2016-01-06 16:27] bee-keeper commented on #29
Hi,

Hmm, looks like you're right, please submit a PR to devel and I'll get this merged ASAP.

Thanks!!

[2016-01-06 16:28] bee-keeper commented on #28
All good then - can I close?

[2016-01-06 16:31] clokep commented on #28
As long as this is not a supported use case, feel free to close yep! :)

[2016-01-06 16:32] clokep commented on #28
Although, I think the fix is as easy as combining the [two boolean statements here](https://github.com/bee-keeper/django-invitations/blob/f95e9a16684235f0c614e0371d0f3bb5ca41d470/invitations/adapters.py#L111-L112) into a single statement with `and`.

[2016-01-06 16:36] bee-keeper commented on #28
Ok please do - if it passes the tests I'll give it a proper look over and get it merged.

Thanks,

[2016-01-07 10:40] #29 closed

[2016-01-07 11:30] #28 closed

[2016-02-10 14:53] bee-keeper commented on #25
I'm leaving this issue open as your primary concern (below) has still not been addressed.  I suspect we need a boolean flag on each invitation and an app setting allowing users to decide how they want to define this behaviour.  I'm going to get another release out and I'll come back to this.

[2016-02-11 17:56] clokep commented on #25
@bee-keeper I'm wonder if something like this would work:

1. The view calls a method on the adapter to handle the invitation being 'accepted'.
2. The allauth adapter stashes this information in the session.
3. The allauth adapter hooks into the signal that a user has registered. It then checks the session to see if that user had previously accepted an invite.

I don't know what to do for the non-

[2016-03-15 12:40] marcoshemann opened #35 "Using Invitation in forms"
Hi,
I need use invite.send_invitation(request) in a forms, the problem is that request dont exist inside forms, there are other way to send invitations without request?
The same problem occour when a send in signals.
Regards.

[2016-03-15 12:53] bee-keeper commented on #35
Hi,

I think you have 2 options.  Pass the request into your form __init__ method or modify the send invite method so it doesn't need a request.

[2016-03-20 17:48] brandonjschwartz opened #36 "Site set to invite only"
Maybe I'm doing this wrong...

I have settings as:

`INVITATIONS_INVITATION_EXPIRY = 14
INVITATIONS_INVITATION_ONLY = True
INVITATIONS_GONE_ON_ACCEPT_ERROR = False
INVITATIONS_SIGNUP_REDIRECT = '/u/register/'
INVITATIONS_CONFIRM_INVITE_ON_GET = True
INVITATIONS_ALLOW_JSON_INVITES = False
INVITATIONS_LOGIN_REDIRECT = LOGIN_URL`

I can invite users just fine, but I can also register directly at the

[2016-03-20 18:10] bee-keeper commented on #36
Hi, you need to set the ACCOUNT_ADAPTER as specified in the readme.

[2016-03-20 21:32] brandonjschwartz commented on #36
Thanks. I configured the setting and installed allauth; everything worked fine after that :)

[2016-03-20 21:32] #36 closed

[2016-03-20 21:36] #35 closed

[2016-04-03 16:01] rcastill opened #37 "Lack of documentation"
Hey there! I am using your app, for a college project, and I am encountering issues at understanding the complete flow of the app because of the lack of documentation.

I applied the steps suggested in README.md (not using allauth) and "it works". But I cannot figure out how to make my site invite only, that is, I want SIGNUP_REDIRECT to be accesible only by clicking on an invitation link, I thoug

[2016-04-03 18:02] bee-keeper commented on #37
Hi there,

The setting you're referring to only makes sense when using allauth for authentication.  If you're not using allauth then it's your responsibility to work this feature into your authentication implementation.  It's true this needs adding to the docs and I'll leave this open until that's done.

[2016-04-03 18:48] rcastill commented on #37
Thanks! I'll take a look into allauth

[2016-04-13 03:42] brunoliveira8 opened #38 "Email is not sent."
Hello,

For some reason, the email is not sent. I have tried on my local machine and on Pythonanywhere, I have configured as shown on the readme.md

Thanks!

[2016-04-13 08:42] bee-keeper commented on #38
Hello,

This is surely a problem with your email settings.  Try using the console [backend](https://docs.djangoproject.com/ja/1.9/topics/email/#console-backend) to verify the mail is sent.

[2016-04-13 15:03] brunoliveira8 commented on #38
Thanks, I tried the backend but I made a mistake. Now is working.

[2016-04-13 15:05] #38 closed

[2016-04-18 20:57] #37 closed

[2016-04-21 03:59] john2x opened #39 "validate_invitation being called twice when sending an invite?"
I'm getting two messages when sending a new invite:

[code]

It seems that `validate_invitation` is being called twice.

I did some debugging, and noticed that the following line in the `SendInvite` view somehow causes it to be called twice:

[code]

Calling `self.get_context_data` alone doesn't trigger the bug. Only when passing the returned value of `self.get_context_data` to `self.render_to_res

[2016-04-21 10:12] bee-keeper commented on #39
Thanks for reporting this.  I'll look into it as soon as I get a chance.

[2016-05-05 06:03] nsomaru commented on #25
Hello,

@clokep have you made any progress on this?

I would like to help to resolve this issue if possible. @bee-keeper -- could you recommend a strategy for resolving and mentor me through a patch?

[2016-05-05 13:32] clokep commented on #25
@nsomaru I hacked around this locally, I subclassed the [`AcceptInvite` view](https://github.com/bee-keeper/django-invitations/blob/3ed7baa02fc142864670ef497fef4872d8e89240/invitations/views.py#L90-L168), overrode the `post` method to remove [two](https://github.com/bee-keeper/django-invitations/blob/3ed7baa02fc142864670ef497fef4872d8e89240/invitations/views.py#L141-L143) sets [of lines](https://g

[2016-05-06 08:26] bee-keeper commented on #25
@clokep thanks for your suggestion, and sorry for taking so long to respond.  Please feel free to put together a PR and we can take it from there.

@nsomaru feel free to get involved in the PR

The basic adapter is more troublesome but at least we can get this fixed to the allauth adapter.

[2016-05-20 03:02] erm commented on #25
Just wanted to mention that this was an issue that forced me to abandon django-invitations for my current project. I've forked the repo and will attempt to revisit it later and put in a PR myself if someone doesn't beat me to it - however I don't have enough time to do so now and have a deadline to meet.

[2016-06-20 23:11] bengolder opened #40 "Allow settings to influence email subject prefix"
I wanted to override the email subject prefix, but the prefix cannot be adjusted using templates. It is set by the adapter's `format_email_subject` method. Django includes a setting to adjust the email prefix, [`settings.EMAIL_SUBJECT_PREFIX`](https://docs.djangoproject.com/en/1.9/ref/settings/#email-subject-prefix), but django-invitations ignores this setting.

Compare these methods in django-all

[2016-06-21 08:49] #40 closed

[2016-08-04 11:01] gnublade opened #43 "Remove unique constraint on email"
Would you consider removing the constraint on emails being unique?

I was considering submitting a PR to make it optional with a setting in app_settings, but it seems like it may be a common use-case to be able to send multiple invites - such as after an initial invite has expired.

With the current constraint, the original invitation must be deleted first. A user following a previously expired in

[2016-08-04 11:21] bee-keeper commented on #43
Hi there,

I'm surprised this hasn't come up before actually.  Your point about sending another invite after one has expired needs to be addressed but I'm not sure app_settings is the way to go about this as it would require migrations.

Thinking aloud, perhaps invites can be unique on email only if they have either not been accepted or have not yet expired.  I'm fairly sure this wouldn't affect a

[2016-08-25 08:38] nsomaru commented on #25
@erm apologies, this should have been posted earlier. [Here's a workaround](https://gist.github.com/nsomaru/53d0caf0981b56d57d77649b29c8cd1d) from @clokep's solution above.

[2016-09-16 05:34] cloudartisan opened #44 "KeyError: '__module__' upon installation with Django 1.9"
After installing version 0.8.0 and adding 'organizations' to `INSTALLED_APPS` I get the following traceback:

[code]

This is the output of `pip freeze`:

[code]

I'm using Python 2.7.12.

If I remove 'organizations' from `INSTALLED_APPS` everything works again.

[2016-09-16 09:01] bee-keeper commented on #44
It's `invitations` not `organisations`!

[2016-09-16 09:01] #44 closed

[2016-09-16 10:05] cloudartisan commented on #44
@bee-keeper oh man, I had both tabs open next to each other and clicked the wrong one! :-)

[2016-09-16 10:10] bee-keeper commented on #44
Hah, no worries!

[2016-09-27 20:06] luanfonceca opened #48 "Needing help on how to implement the invitations with my event platform"
Hi folks, i am using the allauth for login and signup and now i need to Invite people to my events.
I am thinking on how to do that, i have the following scheme: Event with 1:n relation with Attendee, as the event organizer i would like to invite other users to my event.

![invitations-process](https://cloud.githubusercontent.com/assets/1490875/18889606/0f8c2c88-84d4-11e6-935b-8814aecb088e.png)

I

[2016-10-06 17:40] williamwang61 commented on #25
@nsomaru Hi, I saw your workaround of the issue that invitation is only accepted after the user finished signup, which is exactly how I did on my local. Since this is a common problem, do you plan to make a PR for it? Otherwise I can make it. Thanks!

[2016-10-06 22:51] nsomaru commented on #25
@williamwang61 as per this thread we would need to handle the non allauth case for the PR to be accepted. I suppose adding a setting (like `INVITATIONS_COMPLETED_FIELD`) to point to the `(EmailAddressKlass, field_name)` you want to check? @bee-keeper care to weigh in?

[2016-10-07 08:58] bee-keeper commented on #25
Hi, sorry I haven't had much time to work on invitations recently.

Please do submit a PR though for the allauth adapter, we can work out the details for the non auth adapter at a later stage.  It seems like this is a popular feature so would be good to get it in a release asap.

[2016-10-07 17:48] williamwang61 commented on #25
@bee-keeper Hey, I just created a PR for that. I'd appreciate it if you could have a look. #https://github.com/bee-keeper/django-invitations/pull/49

[2016-10-08 05:35] thewebsitedev opened #50 "How to pass custom data to invite email"
Hello,

Thank you for the good work.

How can I pass in custom data to the invite email?

[2016-10-19 17:43] bee-keeper commented on #25
Thanks @williamwang61 and @clokep - have just merged and released 1.8.

[2016-10-19 17:43] #25 closed

[2016-10-19 19:39] bee-keeper commented on #50
This happens [here](https://github.com/bee-keeper/django-invitations/blob/master/invitations/models.py#L55).

[2016-10-19 19:41] bee-keeper commented on #48
Sorry for the delay, I suppose you might be best using the basic adapter and then creating the bespoke functionality yourself.  That's basically what it's for - it gives you the invite skeleton but you'll need to fill in the rest of the details.

[2016-10-19 19:41] #48 closed

[2016-11-08 12:57] mrHaugen commented on #50
Sorry, I don't get this. Can I pass any custom data along with the invitation, or is it limited to invite_url, site_name, email, key and inviter?

[2016-11-08 13:01] bee-keeper commented on #50
Yes, it's currently limited to to those variables.

It should be modified though so that you can pass in additional kwargs.  In fact, this wuld be a good feature so i'll reopen this issue.

[2016-11-10 11:15] fmarco opened #52 "Email length problem"
Hello,

i've a problem: how can i set up the email length to  a defined value? I need it for a project and it's a blocking issue.
I suppose this needs a PR to modify the behaviour, right? Exactly as here: https://github.com/pennersr/django-allauth/blob/4a6df009ff98255e03a122eb9ea4a90c5eb2aa35/allauth/account/migrations/0002_email_max_length.py

[2016-11-10 11:23] bee-keeper commented on #52
I presume you're using mysql hence the issue?  Sure feel free to put together a pull request.

[2016-11-10 11:25] fmarco commented on #52
@bee-keeper Exactly.
Ok, nice, i'll open a PR asap :+1:

[2016-11-10 12:00] fmarco commented on #52
@bee-keeper PR opened here: https://github.com/bee-keeper/django-invitations/pull/53

[2016-11-10 12:21] fmarco commented on #52
@bee-keeper Very fast, thanks!

[2016-11-10 12:22] #52 closed

[2016-11-24 08:57] craigosborne opened #54 "Custom Email Template"
Hi,

Is it possible to specify a custom email template for invitations? ideally I want an html template.

keep up the good work.

[2016-11-24 09:03] bee-keeper commented on #54
Hi there,

Sure it is.  Just follow the allauth convention for this as it uses the same code.  Simply add the template with the same name as the .txt but a .html extension and it should just work (I believe this is how it works with allauth, just take a look at their docs to verify).

[2016-11-24 21:12] craigosborne commented on #54
Hi,

Thanks exactly how it works.

[2016-11-24 21:12] #54 closed

[2016-12-02 10:57] nsomaru commented on #43
Well, looking at the use case this package addresses, if an invitation has expired it is because project requirements dictate as much; if an invitation has expired it probably means the invited user has forgotten about or ignored your invitation. Conclusion: you need to remind them.

Since you need to remind them anyways, add an admin action which calls `Invitation.send()`, which will update `Invi

[2016-12-02 11:09] nsomaru opened #55 "Advice on Customising the `Invitation` Model"
Hi @bee-keeper,

Thanks for a great project. We use `django-invitations` in one live project and are looking to integrate it into another now.

Our current project requires that we have some custom fields on the `Invitation` model which will be used to render the email. We basically want a personal salutation.

Is there a generic, reusable way to do this? Trying to avoid forking the package.

edit

[2016-12-02 11:12] #55 closed

[2016-12-02 16:52] bee-keeper commented on #55
Hi @nsomaru,

No there currently isn't a generic way to do this.  But you're right, it should be possible to point invitations to a custom model much like how Django custom user models work.  I'll leave this open until either I have chance to do it, or if someone else PR's.

[2016-12-02 16:52] bee-keeper commented on #50
Hi @nsomaru,

No there currently isn't a generic way to do this. But you're right, it should be possible to point invitations to a custom model much like how Django custom user models work. I'll leave this open until either I have chance to do it, or if someone else PR's.

[2016-12-05 11:15] krsmedlund opened #56 "Add a reminder email function with an optionally different template"
We want to send out reminders to the people that doesnt use their invites for X amount of days, with a different email template.

[2016-12-05 16:05] bee-keeper commented on #56
Hi there.

This doesn't seem like a generic enough request to feature this in invitation.  Sounds like something you could potentially just trigger from a management command?

[2016-12-05 16:05] #56 closed

[2016-12-14 08:57] fmarco commented on #43
@bee-keeper @nsomaru  Any update on this one? :)
It would be useful to setup the unique attribute on the field, or extend in some way the model / behaviour to decide how to group invitations. In some cases email uniqueness is too restrictive.
At the moment i'm thinking about two way:

1) setup the unique in the project settings
2) create a base model for invitations a let decide the user if using

[2016-12-14 09:41] bee-keeper commented on #43
Certainly in terms of my priorities, I want to make the invitation model swappable (much like User model in Django).  Adding remind functionality to that would come second.  If you want to make a start on a swappable invitations model feel free!

[2016-12-14 12:01] fmarco commented on #43
@bee-keeper just opened a PR, what do you think?

[2016-12-20 08:47] krsmedlund commented on #56
Hi, yea i've already implemented it and trigger it via management command, the ticket was for if you wanted it in a PR as its a quite common thing to do!

[2017-01-17 11:27] mahmoudhossam opened #62 "Allow multiple invites per email"
I'm trying to use django-invitations for a project which involves sending invites to people to join organizations modeled after Github organizations, but this app doesn't allow that behavior right now.

Can we leave up to the user to define whether they want to send multiple invites to the same email or not? possibly using a setting.

[2017-02-04 00:27] matthewsewell commented on #62
I just forked and created something similar. What I've done so far is created a setting that, if set in the settings.py, will create a new migration removing the unique constraint. I then made modifications so that the invite can be accepted after someone logs in to an existing account.

I have not tested very thoroughly yet but it should be tested by mid week next week. Hopefully, once I'm done,

[2017-02-04 00:30] matthewsewell commented on #62
I also just saw this was discussed elsewhere.

[2017-02-06 15:07] clokep commented on #62
Just came across this, note that having a migration that's contingent on a setting isn't a good idea. It means that you have to account for two different database schemas in all the code you write and people will end up with different databases while using this package. I'd suggest trying to come up with a different way to do this!

[2017-02-06 16:15] matthewsewell commented on #62
I agree that this solution is way less than optimal. The right way to do it is to abstract the model--which I think someone else is working on now. The solution I'm using is just a stop-gap for me right now.

[2017-02-10 14:26] rcscott opened #64 "New release"
Could you issue a new release version for this project? We're trying to clean up all the deprecation warnings in our code and #59 will be very helpful for that when included in a release.

[2017-02-10 14:28] bee-keeper commented on #64
Sure, I'll get one out this weekend.

[2017-02-10 14:29] rcscott commented on #64
Thanks! (And thanks for the super quick response!)

[2017-02-11 10:49] bee-keeper commented on #64
1.9 released.

[2017-02-11 10:49] #64 closed

[2017-02-15 14:12] clokep opened #65 "Access invitation information in template?"
I'm using django-invitations in combination with django-allauth, so after an invitation is accepted the user gets dumped into the standard registration workflow. This works great, but is a little confusing to users because it's not obvious that the invitation was actually accepted!

I know that django-invitation uses the `messages` framework to give an [invite accepted message](https://github.com/

[2017-03-02 15:39] diegofcoelho opened #66 "django-registration"
Is there a way to integrate it to django-registration?

[2017-03-02 15:44] bee-keeper commented on #66
You could write a backend as we've done for allauth?

[2017-03-02 15:47] diegofcoelho commented on #66
I meant out-of-the-box... But thank you!

[2017-03-07 14:22] asackofwheat opened #67 "Add Cancelled field on Invitation model"
I'm using django-invitations (thanks btw!) and right now, I have functionality to cancel an invite (which right now deletes the Invitation). It would be nice if the Invitation model had a 'cancelled' boolean field which would allow me to soft-delete Invitations. Let me know what you think!

[2017-03-08 00:11] sebastibe commented on #67
This would probably be solved by the swappable invitation model #58 no?

[2017-03-08 09:27] bee-keeper commented on #67
Hi,

This does  sound useful, but I agree with @sebastibe - all this can be handled with a swappable model and ideally we want to strive for extendable and minimal.

Thanks for the suggestion regardless!

[2017-03-08 09:27] #67 closed

[2017-03-08 09:27] #66 closed

[2017-03-08 09:28] #62 closed

[2017-03-08 09:29] bee-keeper commented on #50
Am closing as we have an open PR for a swappable invitations model.

[2017-03-08 09:29] #50 closed

[2017-04-21 15:06] mcheshkov opened #73 "Catching exceptions in SendInvite view"
In `SendInvite` view, in `form_valid` method there's a try-except block, that catches too many exceptions.

I've spend several hours today debugging what's going on only to find out that I've forgot to configure email sending, and that this block silently threw away exception from `send_invitation` (since it's not form validation error it's not shown anywhere).

My proposal is to move `send_invita

[2017-04-21 15:13] mcheshkov opened #74 "Double form validation in SendInvite"
In `SendInvite` view, in `form_valid` method `self.get_context_data` is called without `form` kwarg. Django (since 1.9.1, I think) creates new form instance in `FormMixin` in `get_context_data` method.

It's new instance and it does not have any errors initialized, and validation will be executed again on `email.errors` access in template. Template is rendered after invitation is created, so it fa

[2017-05-15 09:35] hubdotcom opened #76 "Breaks OTP and 2FA authentication"
This stops 2FA from working properly

[2017-05-21 10:42] bee-keeper commented on #43
Closing this as it can be solved by using the swappable invite model.

[2017-05-21 10:42] #43 closed

[2017-06-16 16:22] jwagstaff commented on #54
Howdy,

Sorry, but I cant figure out the path to place my custom email template in.  Is it templates/account/email (using the all auth template folder) or templates/invitations/email ?  I've tried both and neither is working for me.

[2017-07-14 10:48] narnikgamarnikus opened #78 "Tracking the number of invited users"
I need to be able to track how many users have been invited by a particular user.

What are the ways to do this?

We can assume that this is a kind of referral system.

I want to know what user this user was invited to.

Please give a brief recommendation on the implementation of this task.

For example:

user 123, user 124 and user 125 was invited by user 7.

Thanks!

[2017-07-17 12:30] clokep commented on #78
You can get the invitations by a particular user by accessing the `invitation_set` property:
[code]

If you want a list of users who have invited anyone it would be done like:
[code]

[2017-07-23 15:48] narnikgamarnikus opened #79 "Are there ways to integrate with social networks?"
In addition to the invitation via e-mail, I'm looking for an opportunity to invite through the social network.
One of the options that I'm considering is the repost button, which would have some kind of get parameter. I completely understand how to do this separately from your application, but I want to unify the two solutions, and I'm looking for the shortest way for this.

[2017-08-20 12:02] gregoriopellegrino opened #80 "How to make invitations programmatically"
Hi,
I can't find in the documentation how to send invitations programmatically.

Can you please help me?

Thanks,
Gregorio

[2017-08-21 07:57] bee-keeper commented on #80
See the Readme - sending invites.

[2017-08-21 07:57] #80 closed

[2017-09-15 17:38] clokep commented on #76
What 2FA package are you using to in conjunction with django-invitations?

[2017-09-15 17:39] clokep opened #81 "Django 2.0 deprecation warnings"
When using invitations:

[code]

[code]

[2017-09-15 18:17] clokep commented on #81
Apparently most of these were fixed already, although I'm still seeing some of them in a release version.

[2017-09-15 18:17] #81 closed

[2017-09-20 20:34] gregoriopellegrino opened #83 "410 on first click on invitation link"
Hi,
when a user click for the first time on the invitation link he gets a 410 error.

How can I fix it?

Gregorio

[2017-09-30 20:13] gregoriopellegrino commented on #83
Solved: I set INVITATIONS_INVITATION_EXPIRY = 0 for making invitations non expiring.

[2017-09-30 20:13] #83 closed

[2017-10-08 18:40] #78 closed

[2017-10-08 18:44] #76 closed

[2017-10-26 11:40] maxnordlund opened #86 "Can't find docs"
I could find some sort of online docs, like readthedocs.io, which would be nice. More specifically I need to extend the creation of new invitations which I think I van do using the INVITATIONS_INVITATION_MODEL setting. But it's a bit unclear how this should be done, and how a custom adapter should be used as well.

*TL;DR* It would be nice with readthedocs.io style online documentation.

[2017-11-02 10:15] janfabry opened #87 "Trigger invitation acceptation even if different e-mail address signs up with allauth"
If you enable `ACCEPT_INVITE_AFTER_SIGNUP`, the invitation to accept is looked up based on the e-mail address used to complete the signup. Because this field is editable (but pre-filled), it's possible the user enters a different e-mail address, and the original invitation will not be found and never marked as accepted.

In my case I have post-acceptance triggers that will give a user rights to ed

[2017-11-02 13:58] janfabry commented on #87
Another issue is that allauth will assume the stashed e-mail address (`bob@example.com`) also belongs to the user, so he will end up with `bob@example.com` as a primary and `bob.lastname@example.com` as a secondary e-mail address. This may or may not be what you want (so I'm not sure whether it should be considered a bug, in allauth or this package).

Example: in case the original invitation was s

[2017-11-02 14:06] clokep commented on #87
It seems correct that both emails end up on the account, but I suppose it could be confusing.

[2017-12-29 19:37] dkdndes opened #91 "app_name = 'invitations' is missing in urls.py"

[2017-12-29 22:48] emilepetrone commented on #91
Just pushed a pull request with the fix for this. #92

[2018-01-01 16:23] emilepetrone commented on #91
This can be closed it is now merged in. Had I saw it first, I would have put it into my PR. My b.

[2018-01-01 20:42] #91 closed

[2018-01-16 09:43] craigosborne opened #96 "Django 2.0 support"
Any idea when a django 2.0 supported version will be released?

[2018-01-22 12:14] bee-keeper commented on #96
Hi sorry for the delay.  I'll try get a release of the current master (supporting 2.0) out in the next few days.

[2018-01-30 13:10] avalanchy commented on #96
@craigosborne I think we can left this open unitl new version lands on pypi.

[2018-01-30 16:57] bee-keeper commented on #86
I totally agree.  Feel free to PR ;)

[2018-01-30 16:57] #86 closed

[2018-01-30 16:58] bee-keeper commented on #79
I never really figured out a nice flow for integration with social networks so sorry, can't help here.

[2018-01-30 16:58] #79 closed

[2018-01-30 18:44] maxnordlund commented on #86
Hm, I not sure I can since readthedocs is a site where the _owner_ uploads their docs, right?

I must admit I've never needed to publish docs like this, or even use sphinx for that matter, unfortunately. Was kinda hoping you know how to do this.

[2018-02-03 13:26] RoryOfByrne commented on #96
Hi @bee-keeper do you think we'll see the release in the next week? I'm doing an alpha test next week and I really want to use this!

[2018-02-03 15:10] bee-keeper commented on #96
Hi, I just released this morning.  I've updated the test matrix now to support only 1.11 and 2.0 (ie to be consistent with allauth itself).

[2018-02-03 15:10] #96 closed

[2018-02-08 19:11] RoryOfByrne opened #99 "Possibility to subclass InvitationsAdapter for Allauth use?"
I want to subclass `invitations.models.InvitationsAdapter` to change Allauth's default `ajax_response()` method. However, I noticed that the `InvitationsAdapter` class only exists if `settings.ACCOUNT_ADAPTER == 'invitations.models.InvitationsAdapter'`, see [here](https://github.com/bee-keeper/django-invitations/blob/master/invitations/models.py#L79).

Is this intended? Can it be changed so that I

[2018-02-08 19:14] clokep commented on #99
I ran into this while using a package we wrote (django-allauth-2fa), I got around it by doing this:

[code]

[2018-02-09 12:55] RoryOfByrne commented on #99
Thanks @clokep. I was planning to just copy the InvitationsAdapter functionality if needed but I was hoping I could avoid it.

Did you not need the `is_open_for_signup(self, request)` functionality or is there another reason why you didn't copy that method?

[2018-02-09 13:06] clokep commented on #99
[`OTPAdapter` subclasses `allauth.account.adapter.DefaultAccountAdapter`](https://github.com/percipient/django-allauth-2fa/blob/3df938736c19480a478a01f5f08506d20ef211da/allauth_2fa/adapter.py#L16), which [provides that method](https://github.com/pennersr/django-allauth/blob/5c89584aacdd9e88b7d5ee60402df38e6ff9b4a4/allauth/account/adapter.py#L177-L184).

[2018-02-22 21:15] Jromero97 opened #101 "NoReverseMatch Error in Django 2.0"
Hi, I have an error using your package with django 2.0, it's unable to found the pattern for views! and throw me a NoReverseMatch error, that could be 'cause the URL format? or something similar?

[2018-02-23 10:09] bee-keeper commented on #101
Hi,
You'll see in test matrix we're testing against Django 2.0 so I'm fairly sure that's not the issue.  Could you post the exact error and also versions of invitations and allauth?

Thanks,

[2018-02-23 17:21] Jromero97 commented on #101
Any possibility of I don't have to use django-allauth for authentication?

[2018-02-23 17:24] bee-keeper commented on #101
You don't have to use it no.  But django-allauth works with Django 2.0 so if you upgrade to latest version that may resolve your issue?

[2018-02-23 20:26] Jromero97 commented on #101
![image](https://user-images.githubusercontent.com/27448401/36615329-6a480636-18a5-11e8-9f8f-54be805ac849.png)

This is the error when I try to activate from email!

[2018-02-24 09:33] bee-keeper commented on #101
As I said, please post versions of invitations and allauth you're using.  Also please post the code you use to add invitation urls to your project.

[2018-02-24 09:35] #99 closed

[2018-02-24 16:11] Jromero97 commented on #101
I'm using version 1.9.2 of django-invitations and not using django-allauth...
![image](https://user-images.githubusercontent.com/27448401/36632314-f8ad4a6c-194a-11e8-97fe-bbbc3d16fd30.png)
That's the url configuration in my project!

[2018-02-24 16:32] bee-keeper commented on #101
Try as per the test settings at the link I posted above.

[2018-02-24 16:48] Jromero97 commented on #101
I already tried with that settings

[2018-02-24 17:33] Jromero97 commented on #101
I realized that the problem is when it tries to redirect to signup view but i don't have django-allauth. So, how is the best way to customize those views, with my own views?

[2018-02-24 18:50] bee-keeper commented on #101
That's entirely up to you and the way you choose to handle registration/authentication.

[2018-03-01 20:44] Jromero97 opened #102 "Inviter as logged user"
Hello again! this time, I wanna that invitations set the inviter automatically as request.user, how can I do this, without show 'inviter' field in django admin.?

[2018-03-01 20:44] #101 closed

[2018-03-14 15:48] JeansReal commented on #102
@Jromero97

Override the save form

    def save_form(self, request, form, change):
        """ Override the save form, to create the invitation and add the inviter_id for the logged user. """
        obj = super(CustomInvitationAdmin, self).save_form(request, form, change)
        obj.inviter = request.user  # Default user that create the invitation is the logged user.
        return obj

[2018-03-14 15:49] #102 closed

[2018-03-14 16:07] Jromero97 opened #103 "Using django-invitations with multiple models"
Hi, I wanna know if you have any way to use the django-invitations with multiple models.
For a better explain, I want to send an invitation first to an organization, and once send the invitation, the link send me to a view to register that, and after that let's have the possibility to send the invitation to the user.

[2018-03-19 17:28] rahul6612 opened #104 "how i can Display UserProfile Model Info in Templates on Profile Page?"
i want to see userprofile details on my website but it does'not shows that why ?
## my models.py is:

[code]
## my template is:

[code]

whats the wrong here ?

[2018-04-02 19:06] daino3 commented on #43
Hello. I've tried adding `class Invitation(AbstractBaseInvitation):` to remove uniqueness on the email field, however, django still sources your migrations. Is there a flag to ignore `invitations` migrations and rely on my custom implementation's generated migration? I can add to the README with instructions if someone helps me figure this out.

Thanks!

[2018-04-02 19:53] clokep commented on #43
@daino3 Are you including `invitations` in your installed apps setting? You'll need to remove that to use custom models.

[2018-04-02 20:40] daino3 commented on #43
@clopek I am. If I remove it I get:

[code]

[2018-04-02 20:49] clokep commented on #43
@daino3 You'll want to import your subclass of `Invitation`.

[2018-04-08 19:54] oesah commented on #74
I have the same issue, using the view creates the invite but also displays the error "AlreadyExists". Any workaround?

[2018-04-09 15:09] oesah commented on #74
I have a quick workaround:

You can change the `_invite.html`, which contains the form, to check for `success_message` and then do if then clauses where appropriate:

[code]

[2018-05-05 14:45] mehmadi opened #106 "Adding a field to Invitation form"
I am trying to add a `phoneNumber` field to invitation form and model. This is to ask inviter for both phone number and email address when inviting new users. I added `phoneNumber` field to Invitation class in `models.py` as follows:
[code]
then made following changes in `forms.py` file
1- added following lines in `InvitationAdminAddForm` class
[code]
2- then, added following lines in `InviteForm`

[2018-06-07 20:58] gutierri opened #107 "Error on tests with key_expired method"
The error only happens in a tests scenario

```self.client.get(reverse('invitations:accept-invite', args=[invite.key]), follow=True)```

Exception on tests:
[code]

[2018-06-08 02:58] gutierri commented on #107
I solved the problem by reading the invitation-making tests¹.

[1] -
https://github.com/bee-keeper/django-invitations/blob/master/tests/basic/tests.py#L33

(closes #107)

On Thu, Jun 7, 2018 at 5:58 PM, Gutierri Barboza
<notifications@github.com> wrote:

[2018-06-08 02:59] #107 closed

[2018-07-04 05:00] curtisstpierre opened #109 "Readme is incorrect INVITATIONS_INVITATION_MODEL should be INVITATION_MODEL"

[2018-07-06 08:10] bee-keeper commented on #109
Merged

[2018-07-06 08:10] #109 closed

[2018-07-14 16:47] DanielTea commented on #48
Sorry for reopening this old issue.

I have the same trouble right now, could you point out some examples and tutorial links?

[2018-08-14 10:37] gotexis opened #111 "How does the app knows which invitation is accepted if user registers with another email"
First of all, I want to say great project, thank all the contributors!

I am using allauth together with this.

Studying the code, there is one thing that confuses me. In my understanding, when a user signs up, a sign_up signal is emitted and the invitation looks up the invitation list by email to check which invitation was accepted. However, when experiencing the app, I think the invitation was s

[2018-08-14 10:44] gotexis commented on #87
Thanks @janfabry, I just had the same question.

Actually, I was trying to do exactly what you did, setting up the user in some way after account creation. But I am new to Django signals. If you won't mind could you please share the code for the handling code for post_account creation?

I would appreciate any help!

[2018-08-29 01:49] umrashrf opened #112 "Make success_message editable from settings"
https://github.com/bee-keeper/django-invitations/blob/master/invitations/views.py#L45

[code]

[2018-08-29 01:51] umrashrf commented on #112
I can replace the text duh!

[2018-08-29 01:51] #112 closed

[2018-09-14 23:44] quachs opened #113 "Configured INVITATION_MODEL still using default model"
I am using a custom invitation model and have INVITATION_MODEL = 'myapp.models.CustomInvitation' in the settings. However, the default model is still being called. I am not getting ValueError or LookupError exceptions either. Any ideas?

[2018-10-15 12:02] ckkz-it commented on #113
There was an issue #110 , where were said that readme's wrong, but for INVITATIONS_INVITATION_MODE setting my custom model worked, instead of using INVITATION_MODEL setting.

[2018-10-22 11:47] amitjindal opened #115 "Question about GPL License"
Hi,

I wanted to know if this module can be used in a commercial application. GPL licensing is tricky and we try to avoid it for commercial use. I wish this was MIT or BSD licensed.

In this case we are installing this as a library dependency. However since it is being used (imported) in the code, does that means by using this we will be violating GPL?

Requesting @bee-keeper to please help clarif

[2018-10-24 11:47] BasemSrour commented on #25
Hi can you help me with this error, I use all auth with django-invitations too but i can't solve this error.
NotImplementedError: Unable to find a unique username.

[2018-12-16 14:35] AaronKazah opened #116 "invite_accept signal not firing"
The signal "invite_accepted" isn't firing even when using the examples provided in django-invitations signals file as shown below.

`@receiver(invite_accepted, sender=auth.models.AnonymousUser)
def invite_accepted(sender, request, email, **kwargs):
    pass`

This issue is caused is mainly caused because 'request' isn't being passed as an argument when the signal is called.

This procedure below

[2019-01-09 14:10] ShuklaMadhur commented on #116
Hi
Is this issue fixed? I am facing the same issue.
Thanks
Maddy

[2019-01-13 00:30] AaronKazah commented on #116
Hey @ShuklaMadhur you can go to my profile and pull my repo that has the fix. https://github.com/AaronKazah/django-invitations

or you can install it to your django project by running this
-e git+git://github.com/AaronKazah/django-invitations.git@master#egg=django-invitations

[2019-01-14 00:01] ShuklaMadhur commented on #116
Hi @AaronKazah Thanks for your reply. Its still not working for me. (Nothing gets printed in my case )

@receiver(invite_accepted, sender=auth.models.AnonymousUser)
def invite_accepted(sender, request, email, **kwargs):
    print('invitation accepted')

[2019-01-14 18:56] AaronKazah commented on #116
@ShuklaMadhur You don't need the sender anymore, since we're passing the request along with it.

Instead of:
@receiver(invite_accepted, sender=auth.models.AnonymousUser)
Try:
@receiver(invite_accepted)

[2019-01-14 19:45] bee-keeper commented on #116
@AaronKazah if you want to PR your changes, ideally with a test am happy to merge.  Sorry have been busy with other stuff and not been a very active maintainer..

[2019-01-17 07:16] ShuklaMadhur commented on #116
@AaronKazah @bee-keeper can I access the inviter in the invite-accepted ? the request.user is always anonymous. Basically I want to reward the inviter when the person he invited accepts.

[2019-01-23 22:16] FredeJ commented on #115
As a general rule of thumb, GPL means that if you distribute your code to anyone, in any form including binary, you must give them access to the source code as well.

If you are simply running a webserver using modules with a GPL license, you are not distributing your code - you are simply running the code and other people are interacting with it - and therefore you have no obligation to turn over

[2019-01-24 09:56] amitjindal commented on #115
@FredeJ Thank you for your explanation. Will consider this.

[2019-01-24 09:56] #115 closed

[2019-02-16 18:49] jayvdb opened #119 "Add test_*.py to sdist"
At least the following files are needed by the test suite, and should be added to the sdist so that `setup.py test` works, or the commands in tox.ini can be run.

- test_allauth_settings.py
- test_settings.py
- test_urls.py

[2019-02-17 13:15] jayvdb commented on #119
Also LICENSE, ChangeLog, and README.md, and requirements.txt would probably be also useful for people wanting to do tests reliably.

[2019-02-17 13:28] jayvdb commented on #119
https://build.opensuse.org/package/show/home:jayvdb:django/python-django-invitations is the result, with a few workarounds in place.

[2019-06-06 12:30] dimkoug opened #121 "Invation redirect url"
I have installed allauth app but when the user  accept the invitation it dosen't redirect to accounts signup url

[2019-06-06 12:35] #121 closed

[2019-06-17 11:06] dimkoug opened #122 "Redirect GONE_ON_ACCEPT_ERROR"
On this setting GONE_ON_ACCEPT_ERROR  i want to redirect to login page

[2019-06-17 11:39] #122 closed

[2019-06-18 11:24] dimkoug opened #123 "Override InvitationAdapter"
I want to override InvitationAdapter

Add get
AttributeError: 'BaseInvitationsAdapter' object has no attribute 'get_user_signed_up_signal'

[2019-06-27 11:15] dimkoug opened #124 "Pass extra data to email template context"
I want to pass extra data to email template context

[2019-06-27 11:25] dimkoug commented on #50
for example

invite.send_invitation(self.request, shop=self.shop)

general way

invite.send_invitation(self.request, **kwargs)

and then inside template you can access your custom kwargs

[2019-06-27 11:25] #124 closed

[2019-07-12 13:51] fsecada01 opened #125 "Bulk Invites Via JSON - Unclear Documentation"
So I'm trying to implement this invite system for the first beta build of my platform before opening it up.  Right now I'm using the Admin view to push individual invitations but this is completely inefficient.  I'm trying to figure out how to push many invites via the JSON process but the request object requirement is messing things up for me.

Can the maintainer provide a use-case example in the

[2019-07-12 19:26] fsecada01 commented on #125
My existing workaround (which is not really sufficient or safe) is to iterate through the invite list and push through every single email instance.

[code]

[2019-08-16 10:25] the-moog opened #127 "Issues installing with Django/Wagtail"
May be a documentation issue?

Trying to install invitations into a Wagtail install.

Adding invitations to urls and INSTALLED_APPS results in:
    RuntimeError: Model class django.controb.sites.models.Site doesn't declare an explicit app_label and isn't an application in INSTALLED_APPS.

Adding django.contrib.sites seems to fix this

[2019-11-27 16:58] mitzitjin opened #130 "Send invitation error if no SITE_ID defined"
When you do not have a SITE_ID defined, send_invitation fails on getting the current site. You can easily fix this by adding this line in the send_invitation method:

current_site = kwargs.pop('site', Site.objects.get_current(request))

[2019-12-03 12:28] MaistrenkoAnton opened #132 "Django 3.0 issues"
After installing Django 3rd versions the package has errors:
[code]

and

[code]

[2019-12-09 20:00] PhlyingSausage commented on #132
I'm getting the same error "ImportError: cannot import name 'python_2_unicode_compatible'". Have you found any solution?

[2019-12-12 18:27] sajjadafridi commented on #123
i think in the simple authentication there is no signup signal, you can use login a user and than add after login signal

[2019-12-14 01:26] paulchubatyy commented on #132
That might be related to Django 3 not supporting python 2.x any more.

[2019-12-17 20:40] slavachernyshev opened #135 "How to change locale to ru?"
Hello!
I have settings in Django project:

[code]

But invitation emails are in English. How can I change them to Russian (I find Russian locale in package)?

[2019-12-26 19:36] fsecada01 commented on #132
Just added a pull request to resolve the issue.

https://github.com/bee-keeper/django-invitations/pull/136

[2020-01-08 18:02] adamf commented on #132
Bump on getting this merged - we have vendor in this package and patch since we moved to Django 3. Anything we can do to help?

[2020-01-13 10:24] qiqizone commented on #132
For second issue, maybe you can copy the six.py from C:\Program Files\JetBrains\PyCharm 2018.3.5\helper(this is my folder) to D:\Anaconda3.5\Lib\site-packages\django\utils(this is my folder).

For first issue, use the code below:
try
  from django.utils.six import python_2_unicode_compatible
instead of
  from django.utils.encoding import python_2_unicode_compatible

[2020-01-20 17:13] epicserve commented on #132
The build on the PR is [failing](https://travis-ci.org/bee-keeper/django-invitations/builds/629758870?utm_source=github_status&utm_medium=notification) FWIW.

cc: @fsecada01

[2020-01-21 21:05] fsecada01 commented on #132
Will go through and see what the culprit is. In the interim, if anyone wants to suggest changes to the pull request, feel free.

[2020-01-25 04:11] cobyrne09 commented on #54
`templates/invitations/email/email_invite_message.txt` worked for me. There are a couple of configuration steps to make email templates work in general, if I recall, so any people who come across this might want to look for those, if you are having trouble.

[2020-01-26 16:42] NicolasDhaene opened #138 "How do you customize the email message"
I would like to add element of context like the inviter's name.
Is this possible?

[2020-01-30 00:07] fsecada01 commented on #132
So the testing with Travis is failing for all versions of Python except 3.8, and the culprit is the `django111-backendAllauth` set of tests. I haven't made any material changes to the invitations code outside of substituting `six` for `django.utils.six`, so if anyone can help me figure this out so the builds can pass, that would be great.

[2020-02-02 20:10] dspec12 commented on #138
Override `email_invite_message.txt` in  `django-invitations/invitations/templates/invitations/email/`.

You can do this by  creating the file in the same directory path in your project.

[2020-02-03 13:30] erikvlm commented on #132
Any updates on this?

[2020-02-04 18:22] fsecada01 commented on #132
Not really. I cannot pinpoint where the testing failures are taking place in the Travis builds. I've tried to experiment with Jenkins and local builds of Travis so I can do iterative testing but those efforts have not been successful. At this stage, I will be trying pyenv to do some granular checking, but failing that, I have no real idea of how to proceed.

Really, @siecje's pull seems to be the

[2020-02-04 21:17] fsecada01 commented on #132
So I'm using Tox and nothing works at all. I'm abandoning my efforts to get this working because I can't even be bothered, anymore. I might as well just uninstall this module and build invitation features myself.

[2020-02-04 21:22] Siecje commented on #132
If you are using Django3 you are not using Python2. You can just remove the six imports and it will work.

[2020-02-04 23:59] fsecada01 commented on #132
Moreso, `django-allauth` now requires at least `django==2.0` so it stands to reason that `django-invitations` should just remove `six` and move onto being Python3 only.

[2020-02-05 17:48] fsecada01 commented on #132
I just updated the `tox.ini` setting to test against v. 0.40.0 for `django-allauth` and the all the tests are now passing. I just made the pull request. Let's see what happens!

[2020-02-05 19:05] bee-keeper commented on #132
Thanks everyone and apologies for not sorting this out sooner.

I definitely do not care about supporting Python 2 since it's EOL.  @fsecada01 can we go with your PR, remove all the six stuff and I think tests should be passing?  If all good I can cut a new release today/tomorrow.

[2020-02-05 19:27] fsecada01 commented on #132
Tests have passed since pinning `django-allauth` to v.0.40.0 in `tox.ini.'  I can amend future tests, depending on my availability.

[2020-02-07 15:10] erikvlm commented on #132
So, until the PR has been merged - how can I access the package myself and remove the six modules? (Did a pipenv install django-invitations)

[2020-02-07 17:14] fsecada01 commented on #132
You can install my fork for the interim. Just list the git link in your requirements.  https://github.com/fsecada01/django-invitations/archive/master.zip

However, the PR has been merged with the developer branch, so I imagine that @bee-keeper is doing their internal testing before merging into the main branch. Shouldn't be too long now!

[2020-02-07 18:14] bee-keeper commented on #132
Fixed in https://github.com/bee-keeper/django-invitations/pull/140

I'll release a new version over the weekend.  Thanks everyone for contributions.

[2020-02-07 18:14] #132 closed

[2020-02-08 09:09] #119 closed

[2020-02-13 06:52] jeromecc commented on #87
Hi!
Used as it is, this app may pose security or DDOS problems because it just redirects to a registration page according to a url. Nothing prevents a random user to just go to the registration page an register.
As suggested by @janfabry, using Django's session to store the invitation key could allow a registration app to link an anonymous user with her invitation (the app could check that the Inv

[2020-02-16 17:12] jeromecc commented on #87
You can see an implementation here. Very basic. 6 lines of code.
https://github.com/bee-keeper/django-invitations/compare/master...DocTocToc:secure

[2020-02-27 15:33] ImplicitCoder opened #143 "Pass model field data from custom invitation to user object (with allauth)"
Hi all,
I'm combining django-invitations with django-allauth for user invitation and signup.

I'd like the Administrator (when creating an invitation through the Django Admin) to provide extra data (here a foreign key to Patient object). This is archieved by adding an extra field to the (custom) invitation model:

[code]
When the invited user signs up, I would like this data to end up in the Custo

[2020-03-01 02:56] BoPeng commented on #103
I have a similar need. Basically I want to use invitations in several different scenarios, such as invite users to join a group, send some action to the manager for approval, and send draft content to managers to approve or deny. @Jromero97 please let me know if you have found something more general.

[2020-03-15 06:31] Redhaus opened #145 "Can you reference the Invitation key?"
Hello,

Thanks for this great project!

Quick question.
I would like to reference the invitation key so that I can do a lookup on the inviters_id.
I would use the email address for the lookup but if the user clicks a link then wishes to signup with a different email this method would not work. However, if I could reference the invitation key that would be a unique string. Is there a way for me to

[2020-04-19 18:47] ashersuman commented on #145
i am also looking for this. please reply

[2020-04-19 22:20] Redhaus commented on #145
@ashersuman this isn't the ideal way of going about it but as a workaround, I was able to get the inviters_id using a signal after a user signs up. I hope this helps.

[code]

[2020-04-20 11:30] ashersuman commented on #145
Thanks a lot!! Signals worked for me.

[2020-05-04 23:09] bplovell commented on #87
The app doesn't pre-fill the email field in for me. Does it only do this if you enable ACCEPT_INVITE_AFTER_SIGNUP?

[2020-05-28 17:58] Patrickdailey opened #147 "Views for sending invites - exposed?"
Hi :)
As for now, it seems that any logged in user is able to access the views for sending invites, since the @method_decorator(login_required) is applied to both views (class SendInvite, SendJSONInvite). Shouldn't it be @method_decorator(staff_member_required) ?

[2020-06-24 20:35] sboisvert opened #148 "Availability for teaching"
Hi, I was wondering what your hourly rate for teaching how to modify the app would be. Contact me via email. Thanks!

[2020-06-26 16:11] pcraig3 commented on #138
Yeah, if this isn't clear, you can create an `.html` file in your project at `{projectroot}/{app}/templates/invitations/email/email_invite_message.html` and it will override [the default template].

[2020-07-10 10:30] sourabh0207 commented on #111
In my case, I am inviting employees but once it accepts the invitation then didn't find any way to identify which user accepts the invitation. Will you please update the documentation for the same?

[2020-07-14 14:23] ImplicitCoder commented on #143
For reference:

I forgot to override the save method on the InvitationAdminAddForm:

    def save(self, *args, **kwargs):
        cleaned_data = super(InvitationAdminAddForm, self).clean()
        email = cleaned_data.get("email")
        patient = cleaned_data.get("patient")
        params = {'email': email, 'patient': patient}
        if cleaned_data.get("inviter"):
            params['inviter']

[2020-07-14 14:24] #143 closed

[2020-08-19 13:28] jonathanccardoso commented on #138
This worked for me.

[2020-09-25 19:06] rosexi opened #152 "SendJSONInvite missing inviter"
The SendInvite view sets the inviter to the Invitation, but the SendJSONInvite view does not. I submit a PR to fix: #151

[2020-10-05 11:42] pydolan opened #153 "Django 4.0 compatibility (deprecation warnings added in v3.1)"
Since Django v3.1, new deprecation warnings are showing:

[code]

[2020-10-08 08:32] chetan1029 opened #154 "Add one JSONField or HStoreField to store extra data if any."

[2020-10-10 12:39] TurnrDev commented on #154
No PR?

[2020-11-28 08:55] asucrews opened #157 "django-allauth-2fa and django-invitations"
Hello, I was wondering if anyone got django-allauth-2fa to work with django-invitations?

I am trying myself, but I can't figure out what changes need to be made to the account adapter.  Below is my custom account adapter.  With this, I don't get any error messages, but it doesn't seem to load settings correctly.  mainly the invitation_only option does not seem to work correctly.

Oh, I have also

[2020-12-08 14:29] pbadeer commented on #157
I have got this working using purely other people's code, I just combined the account adapter's from both of these packages.

settings.py
`ACCOUNT_ADAPTER = 'myapp.adapter.ComboAdapter'`

repo/myapp/adapter.py
[code]

Since I'm hard-copying functions from InvitationsAdapter into ComboAdapter, please make sure you do a fresh copy yourself if you're viewing this in the future. Go to https://github.c

[2020-12-08 17:01] clokep commented on #157
I think we had this working at some point at percipient, I don't have the code handy though. I believe #30 actually was used to fix this case.

I think your suggested code should pretty much work, you can then set `ACCOUNT_ADAPTER = "path.to.ComboAdapter"`.

[2020-12-08 18:35] pbadeer commented on #157
Yup that's what this was doing:

#30 ensures that you can retrieve the active adapter (rather than None) but does not fix the issue of it failing to detect if the active adapter is a subclass of InvitationsAdapter. It cannot detect this (nor can it allow you to subclass) because InvitationsAdapter only exists if your `ACCOUNT_ADAPTER` is set specifically to `invitations.models.InvitationsAdapter`.

[2020-12-08 18:43] clokep commented on #157
Ah...yeah that's familiar now. I believe we ended up on the same solution as you -- essentially vendoring that code into our application. I think your proposed solution of always having that code exist makes sense. 👍

[2021-01-14 12:22] accordioff opened #158 "Add INSTALLED_APPS 'django.contrib.sites' as prerequisites in installation guide"
Newer installations of django do not have 'django.contrib.sites' in settings default INSTALLED_APPS.

Adding django-invitation results in error. It would be great if you add this in your installation guide.

[2021-01-25 21:00] Natureshadow commented on #74
Hit this bug as well.

How about a fix?

I can confirm that passing the form to `get_context_data` solves the issue.

[2021-01-27 23:04] scambrayj commented on #43
can anyone provide a code example on how to remove the unique constraint on email?  It seems by the solution posted here, using the 'swappable' model is the way to go.  Can someone point me in the right direction as how to accomplish this?

[2021-01-29 23:27] scambrayj commented on #145
I'll post this here for anyone needing this, but was able to get the key via the below using the invite_accepted receiver.

Note: the receiver currently has an error that is not merged yet and related to [#116](https://github.com/bee-keeper/django-invitations/issues/116)

the fix for this is listed in the #116 comments to modify installed files for Invitations --> views.py line 181, add request=re

[2021-03-21 23:37] hellogbg opened #161 "Use email in the registration form"
I would like to use email of invited user to pre-fill the registration form, because I want to minimise the risk of them entering another main than the one they have been invited via.
I can see the variable account_verified_email in the response that is coming when clicking on link but I am not sure if I can use it in a form presented at the SIGNUP_REDIRECT link.
Is there a way to use that email i

[2021-03-23 22:15] avenyproduction commented on #138
What about email subject? Should it be in the same directory? (I have tried with email_invite_subject.txt but no luck. email_invite_message.txt didn't work for me, but email_invite_message.html did )

What about email subject? Should it be in the same directory? (I have tried with email_invite_subject.txt but no luck. email_invite_message.txt didn't work for me, but email_invite_message.html did )

[2021-03-24 22:12] avenyproduction opened #162 "Change email templates tips"
Here is a useful tips if you want to change email contents of the invitations:

https://stackoverflow.com/a/23211201/9123009

[2021-05-11 12:08] chandan315 opened #164 "Django invitations giving error This chandansblog.pythonanywhere.com page can’t be foundThis page may have been moved or deleted. HTTP ERROR 410"
I have setup my django app on pythonanywhere.com

I have installed django-invitations module and I am able to create my invitations from admin backend.

The problem is when I recieve my mail and the link to my site, I get the following error:

This chandansblog.pythonanywhere.com page can’t be foundThis page may have been moved or deleted. HTTP ERROR 410

It works locally fine, but not on the serv

[2021-06-10 15:10] matthew-a-dunlap commented on #138
It looks like the code isn't as flexible for the templates other than `email_invite_message`. [This may be a good place to start looking](https://github.com/bee-keeper/django-invitations/blob/9069002f1a0572ae37ffec21ea72f66345a8276f/invitations/adapters.py#L34).

[2021-06-21 15:21] Slyyxp commented on #36
I'm having this same issue, but with the exception I have ACCOUNT_ADAPTER set and allauth installed.
/register/ is still accessible with `INVITATIONS_INVITATION_ONLY = True` set.

Maybe I have missed something.

[code]

[code]

[2021-08-15 07:42] asucrews commented on #157
just woundering if i model was made always available?

[2021-08-17 13:01] brylie opened #165 "Transfer project ownership to Jazzband?"
The [Jazzband organization](https://jazzband.co/) actively maintains several [Django projects](https://jazzband.co/projects), many of which are in wide use. Jazzband has tools and a process in place for project governance, to encourage sustainability of projects.

Would you consider transferring the ownership of this project to the Jazzband organization in order to encourage the sustained developm

[2021-08-20 14:44] pbadeer commented on #165
@brylie @bee-keeper I love this idea. The community is rallying around this project, there are over a dozen pull requests ready for review. For me, if this doesn't show signs of life soon then I have to find something actively maintained to avoid putting my clients at risk.

[2021-08-22 07:01] bee-keeper commented on #165
Hi, I'd be more than happy to do that.  Sorry I just don't have time to give this project the support it needs.

[2021-08-22 08:10] brylie commented on #165
Thanks @bee-keeper 😃

I'll open a discussion in the JazzBand community.

[2021-08-24 06:35] brylie commented on #165
The initial response was to make sure the django-invitations project is following the [JazzBand project guidelines](https://jazzband.co/about/guidelines).

[2021-08-24 06:54] brylie opened #167 "Indicate which Django versions are supported"
The `django-invitations` [package on PyPI](https://pypi.org/project/django-invitations/) doesn't currently indicate which versions of Django are supported. Please configure the project to indicate which Django versions are supported.

[2021-08-24 07:12] brylie commented on #165
I have opened a pull request (#166) with changes related to the [JazzBand project guidelines](https://jazzband.co/about/guidelines). @pbadeer and @bee-keeper, would you mind reviewing the JazzBand guidelines and my pull request to ensure we are conformant?

[2021-08-24 09:13] brylie commented on #165
I opened a [proposal](https://github.com/jazzband/help/issues/237) to transfer ownership of django-invitations to the JazzBand community.

[2021-10-30 08:36] shawnngtq commented on #165
follow

[2021-10-30 08:36] shawnngtq commented on #167
@brylie , so, do you know which versions are support? 😁

[2021-11-01 07:57] brylie commented on #167
Not sure, but I'd say stick with Django 3.2.x LTS

[2022-01-12 17:39] marcosmoyano commented on #167
Just confirmed that Django 4 is not supported 😬

[2022-02-01 12:48] #165 closed

[2022-03-22 14:10] macmichael01 opened #171 "Update translation deprecations"
Django has deprecated ugettext in Django 3 and is removed in Django 4

RemovedInDjango40Warning:
django.utils.translation.ugettext_lazy() is deprecated in favor of django.utils.translation.gettext_lazy().
django.utils.translation.ugettext() is deprecated in favor of django.utils.translation.gettext()

Old
[code]

New
[code]

Consider adding compatibility.

[2022-03-30 09:23] jazzband-bot opened #172 "Implement Jazzband guidelines for django-invitations"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-invitations](https://github.com/jazzband/django-invitations)

It was initiated by @bee-keeper who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel f

[2022-03-30 15:24] MrCordeiro commented on #172
@valberg, please stop accepting PRs that don't pass the testing workflow

![image](https://user-images.githubusercontent.com/20598571/160871743-8dd99c55-8456-4151-8da8-f448c795b8da.png)

[2022-03-30 15:28] valberg commented on #172
@MrCordeiro They do pass the testing flow if we merge in https://github.com/jazzband/django-invitations/pull/174 :)

[2022-03-30 17:59] #167 closed

[2022-03-30 17:59] #153 closed

[2022-03-30 19:03] valberg commented on #171
Fixed in https://github.com/jazzband/django-invitations/pull/169

[2022-03-30 19:03] #171 closed

[2022-03-30 19:06] valberg commented on #164
Hi @chandan315

This sounds like a problem with your setup at pythonanywhere.com.

I'm closing this issue. If you think it is still related to django-invitations feel free to reopen :)

[2022-03-30 19:06] #164 closed

[2022-03-30 19:07] valberg commented on #162
Hi @avenyproduction thanks for your tip.

I'm closing the issue.

[2022-03-30 19:07] #162 closed

[2022-03-30 19:15] #158 closed

[2022-03-30 19:16] valberg commented on #39
I'm closing this due to the age of the issue.

[2022-03-30 19:16] #39 closed

[2022-03-31 07:10] #148 closed

[2022-03-31 07:10] valberg commented on #152
Closed in #151 - thanks for the PR!

[2022-03-31 07:11] #152 closed

[2022-03-31 07:11] valberg commented on #127
Yes it does! We've written this in the readme in https://github.com/jazzband/django-invitations/commit/b6ae99e4dc90ff8d1fa1aac233b67836de50b3a9

[2022-03-31 07:11] #127 closed

[2022-03-31 07:12] valberg commented on #130
Fixed in https://github.com/jazzband/django-invitations/commit/b6ae99e4dc90ff8d1fa1aac233b67836de50b3a9

[2022-03-31 07:12] #130 closed

[2022-03-31 07:12] #104 closed

[2022-03-31 07:18] valberg opened #176 "Add sphinx documentation"
We should have documentation on ReadTheDocs as per comments in https://github.com/jazzband/help/issues/237.

[2022-03-31 07:18] valberg commented on #145
These are great ideas to have as small cookbook examples in the docs (https://github.com/jazzband/django-invitations/issues/176)

[2022-04-01 18:37] valberg commented on #172
I have just created a Read the Docs project: https://readthedocs.org/projects/django-invitations/ and added jazzband-bot as maintainer.

[2022-04-04 13:32] valberg commented on #172
Hey @bee-keeper

When you get the time it would be great if you could "Add jazzband account to PyPI project as maintainer role" as per the checklist above :)

[2022-04-05 07:09] valberg commented on #176
Closed by #178

[2022-04-05 07:09] #176 closed

[2022-04-05 14:38] grmoon opened #182 "Not compatible with Django 4.0"
Following the installation instructions at https://django-invitations.readthedocs.io/en/latest/installation.html using Django 4.0, the migration step fails with the following error:

 <details>
 <summary>Stack Trace</summary>
 <p>

[code]
</p>
</details>

This issue appears to have been fixed in https://github.com/jazzband/django-invitations/commit/618fc4ef87b9912777255590f289df3ae24ec9f3, it just

[2022-04-11 09:04] mamatmania-iidx opened #183 "Sending an invitation without a request object"
I would like to send an invite after a post_save signal has been triggered. Let's say an admin adds a "Profile" object with an email in it.

This block of code is supposed to send an email to the invitee once it is saved
[code]

This returns an error, because apparently you need to have a request to actually send the invitation.

I wonder if it's possible to send an invitation without a request?

[2022-05-16 05:30] LlewopNomis commented on #74
Thanks for the workaround @oesah. It works but would be nice to have the form cleared after a successful invite.

@bee-keeper, any chance you could amend 'class SendInvite(FormView)' to clear the form after a successful invite? Below is a screenshot of the form after a successful invite without the workaround suggested by @oesah.

With the workaround in place, the errors are ignored but the email

[2022-05-19 09:28] cloudcode-hungary commented on #182
Is there an ETA for the next PYPI build? We are migrating to 4.0 as of now, and failing at importing signals because of providing_args parameters. I can see that it's already fixed in the code base with https://github.com/jazzband/django-invitations/commit/83e900008afa3c060bed2c5bbf41023cc4268320

[2022-05-31 11:56] valberg commented on #172
@bee-keeper ping about the above :)

[2022-05-31 11:57] valberg commented on #182
We are waiting for https://github.com/jazzband/django-invitations/issues/172 to be completed so we can do a "proper" release through jazzband. Hopefully it will happen sooner than later :)

[2022-05-31 12:01] valberg commented on #183
This is because the default implementation uses the request to get proper links to render in the email.

You could implement your own by subclassing `AbstractBaseInvitation` (https://github.com/jazzband/django-invitations/blob/09cbae8cfdc04ffc22de42431f16d5986f7344fd/invitations/base_invitation.py#L8) and implement your own `send_invitation` method.

[2022-06-14 17:24] pbadeer commented on #157
@asucrews No, the latest version of django-invitations still has not changed this approach.

[2022-06-27 15:06] LukasKlement commented on #172
Do you have an ETA for the next release? Django 4 is out for a while now, and this package is still not compatible.

[2022-06-27 17:24] valberg commented on #172
@LukasKlement no, there is no ETA. When we get the pypi maintainer role assigned to the jazzband account things should start rolling.

For now I can recommend that you use the latest git sha

[2022-07-05 10:01] valberg commented on #172
@bee-keeper Sorry to ping you again - but I think the last thing we need is to "Add jazzband account to PyPI project as maintainer role". Let me know if I can help with anything.

[2022-07-26 11:38] Natureshadow commented on #182
It does not seem like this will happen sooner.

This is the only dependency blocking AlekSIS' migration to Django 4.0, and forced us to push an LTS release out depending on Django 3, which will be EOL before AlekSIS 2022.6 will be EOL…

Please help us to not have to push the next release out with an unsupported Django version! If the release is blocked "only" by a CI issue, pelase do the release w

[2022-07-26 12:23] lausek commented on #182
@Natureshadow using a git dependency is not an option?

[code]

[2022-08-02 20:14] Natureshadow commented on #182
Nope.

[2022-08-08 10:52] valberg commented on #172
@bee-keeper Ping :)

[2022-08-08 11:18] bee-keeper commented on #172
Hi, have you some instruction to do this?  is it just an email?

[2022-08-08 13:58] MrCordeiro commented on #172
@bee-keeper, you have to go to the project's page on PyPI (https://pypi.org/manage/project/django-invitations/collaboration), where you are currently the sole maintainer, and add the jazzband user (https://pypi.org/user/jazzband/) to the project. That way, the bot can send any new package release to PyPI.

Only the current owners of a project have the ability to add new owners or maintainers.

[2022-08-08 14:05] bee-keeper commented on #172
@MrCordeiro ok done

[2022-08-08 18:26] valberg commented on #172
Great! I'm guessing that adding the release key is not something I can do? If so, got any pointers @MrCordeiro ?

Btw. I do not have access to "settings" (https://github.com/jazzband/django-invitations/settings) - but I guess that is by design @jezdez ?

[2022-08-27 11:01] benopotamus commented on #123
I added the following to my project's urls.py and it seems to get around it. Obviously not a great solution :-D

[code]

[2022-08-31 13:49] Natureshadow commented on #172
Can we *please* either get this done, or make a release as it was done before? As it stands, Jazzband is currently preventing proper maintenance instead of helping it.

[2022-09-07 04:11] khaw235 opened #191 "Unable to use with Django v4.1, contains outdated method"
Hi,

I tried to use this library. After installation and inserting required details settings.py, when I ran command `python manage.py runserver`. It gave an error that NameError: 'ugettext_lazy' is not defined.

Upon doing some research, I found that ugettext_lazy() method has been deprecated in Django 1.9. Is there any workaround to use the library as I do not plan to reduce my Django version?

[2022-09-12 09:33] MrCordeiro commented on #172
@valberg, if the release workflow is not working, I believe you need @jezdez to set the JAZZBAND_RELEASE_KEY (yes, we don't have access to the settings, but it's by design).

Not sure whether you can tick the last box yet or if you need to open a ticket first. I can interpret the bot's TODOs both ways.

[2022-09-12 14:34] malmiteria commented on #191
Hi, having the exact same issue here

Here's a traceback if it helps:
[code]

[2022-09-27 14:17] 13hakta opened #194 "Can you please assign a new version label?"
Need support for django 4.1+ as few weeks ago was fixed inconsistency with deprecated function.

[2022-09-28 07:28] valberg commented on #194
A new release is coming soon :)

[2022-09-28 07:28] #194 closed

[2022-09-28 07:29] valberg commented on #191
Hi! A new version supporting Django 4.0+ is coming soon.

[2022-09-28 07:42] valberg commented on #172
I just tried to release 2.0.0 - but it failed: https://github.com/jazzband/django-invitations/actions/runs/3141681027/jobs/5104396248

Any ideas @MrCordeiro @jezdez ?

[2022-09-28 07:53] jezdez commented on #172
Hey all, sorry for the slow response, I've just added the `JAZZBAND_RELEASE_KEY` to the repo and this should be good to go.

@valberg and @brylie Please make sure to read https://jazzband.co/about/releases, https://jazzband.co/about/guidelines and https://jazzband.co/about/faq. I've restarted the 2.0.0 release action.

[2022-09-28 07:55] jezdez commented on #172
Oh bummer, turns out https://github.com/jazzband/django-invitations/pull/179/files#r982067309 basically broke the release workflow and doesn't actually publish to the Jazzband index and just configures it. This is independent of the lack of secret key above though. Please request a code review if you change the release workflow the next time.

[2022-09-28 07:59] jezdez commented on #172
I've opened https://github.com/jazzband/django-invitations/pull/195 to fix it.

[2022-09-28 08:03] jezdez commented on #172
As a next steps:
- get #195 merged
- delete 2.0.0 tag
- create a new 2.0.0 tag, which triggers the release workflow and uploads it to the Jazzband package index
- @valberg and @brylie then get emails to their verified email addresses, requesting to verify and confirm the release via the website, just follow the instructions in the email. This is done to prevent malicious releases as anyone can cre

[2022-09-28 08:11] brylie opened #196 "Pre-commit hooks failing"
Our Pre-Commit CI service is throwing errors about some of the hooks.

## Task

- [ ] fix code errors related to pre-commit

[2022-09-28 08:11] brylie commented on #196
@jezdez, I'd like to include these fixes in the next release, since they are automated.

[2022-09-28 08:16] brylie opened #197 "flake8 version mismatch when running `poetry install`"
When running `poetry install` I get the following error.

 and flake8 (5.0.4) depends on importlib-metadata (>=1.1.0,<4.3), flake8 (>=5.0.4,<6.0.0) requires importlib-metadata (>=1.1.0,<4.3).
And because tox (3.14.0) depends on importlib-metadata (>=0.12,<1), flake8 (>=5.0.4,<6.0.0) is incompatible with tox (3.14.0).
So, because django-invitations depends on both tox (3.14.0) and flake8 (^5.0.4),

[2022-09-28 08:16] brylie commented on #197
@jezdez, we probably shouldn't release a new version until these dependency errors are sorted.

[2022-09-28 10:23] jezdez commented on #196
Totally, since no release happened to PyPI, it's easy to include it. Just make sure to delete the 2.0.0 tag/release here again.

[2022-09-28 10:58] #196 closed

[2022-09-28 10:58] #197 closed

[2022-09-28 11:48] valberg commented on #172
@brylie I guess we have to update the version in pyproject.toml to get the correct release build on jazzband.co - right now it is building 2.0.0. Do you wish to do it?

[2022-09-28 12:08] brylie opened #199 "Error when releasing 2.0.0"
The following error appears when trying to release the 2.0.0 package

[2022-09-28 12:10] valberg commented on #199
Should we be releasing a 2.0.0 when the tag is 2.0.1?

[2022-09-28 12:13] brylie commented on #199
The only emails I have received are for the 2.0.0 release.

Regardless, there remains a bug in the release process. Are we using a legacy release endpoint with improper field mapping?

[2022-09-28 12:14] valberg commented on #199
@brylie The reason for the 2.0.0 emails is that the pyproject.toml has not been updated to 2.0.1. Is it okay if I take over the release process from here?

[2022-09-28 12:15] brylie commented on #172
I will be AFK for a while, but I am available to approve a PR via my phone. Would you bump the release version?

[2022-09-28 12:16] brylie commented on #199
Sounds good. Thanks!

[2022-09-28 12:17] valberg commented on #199
@brylie Right back at'ya :smiley:

[2022-09-28 12:20] valberg commented on #172
@brylie I opted for removing the tags/releases and stick to 2.0.0 :)

[2022-09-28 12:40] valberg commented on #172
There we go! 2.0.0 is out! https://pypi.org/project/django-invitations/

[2022-09-28 12:40] #172 closed

[2022-09-28 12:41] valberg commented on #172
Thanks of all the work @bee-keeper @jezdez @MrCordeiro @brylie

[2022-09-28 12:41] valberg commented on #182
django-invitations 2.0.0 is compatible with django 4.0+

[2022-09-28 12:41] #182 closed

[2022-09-28 12:42] valberg commented on #191
django-invitations 2.0.0 is compatible with django 4.0+

[2022-09-28 12:42] #191 closed

[2022-10-05 17:10] amartinezuy opened #202 "Consider adding default_auto_field to AppConfig"
Hello,

Starting with [Django 3.2](https://docs.djangoproject.com/en/4.1/releases/3.2/), newly created projects will include the following line in `settings.py`:

[code]

When installing `django-invitations` in such a context and running `python manage.py migrate` we get the following message:

And running `makemigrations` would create a migration like this:

[code]

But, naturally, this migration

[2022-10-07 13:18] lardissone opened #203 "Custom `INVITATION_MODEL` with unique_together fields"
I'm working on a multi-tenant app using [django-tenants](https://github.com/django-tenants/django-tenants) and [django-tenant-users](https://github.com/Corvia/django-tenant-users), the custom user model is build around [this](https://github.com/Corvia/django-tenant-users/blob/master/tenant_users/tenants/models.py#L359) abstract model.
Everything works great.

Now I need to implement invitations, b

[2022-11-16 04:32] infiniteNIL opened #205 "Migrations Fail When Deploying to AWS with NodeNotFoundError"
Everything works fine locally, but when I attempt to deploy to AWS Elastic Beanstalk, migrations fail. The following is from the log:

2022-11-13 23:43:33,659 P31312 [INFO] Command 01_makemigrations
2022-11-13 23:43:34,219 P31312 [INFO] -----------------------Command Output-----------------------
2022-11-13 23:43:34,220 P31312 [INFO] 	Traceback (most recent call last):
2022-11-13 23:43:34,220 P313

[2022-11-27 02:57] pbadeer commented on #123
Relates to #157

[2022-11-27 02:58] pbadeer commented on #157
Note if you're getting the error: `AttributeError: 'function' object has no attribute 'view_class'`

This was an issue in django-allauth-2fa and was recently fixed on the main branch but has not been released yet. https://github.com/valohai/django-allauth-2fa/issues/143

[2022-11-30 01:05] kalzun commented on #205
Yes, due to a change in Django in 3.2 [(release notes for 3.2)](https://docs.djangoproject.com/en/4.1/releases/3.2/#customizing-type-of-auto-created-primary-keys), and the settings in the default settings file is now setting it as `DEFAULT_AUTO_FIELD = 'django.db.models.BigAutoField'`, the package will make a migration of this when you run `python manage.py makemigrations` locally.

I have made a